@tailwind base;
@tailwind components;
@tailwind utilities;

.overflow-y-auto {
  scrollbar-width: thin; /* Ensure the scrollbar is thin */
  scrollbar-color: #f1f1f1; /* Color of the scrollbar thumb and track */
}

.custom-select::-ms-expand {
  display: none; /* Hide default arrow in IE */
}
/* Remove the up and down arrows in number inputs */
input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
  appearance: textfield; /* Chrome, Safari, Edge */
}

/* Hide the spinner in Chrome and Safari */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    width: 8px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}